.menu a {
    width: 100%;
    margin: 0 100px 20px;
    padding: 24px 20px;
    font-family: "Roboto", "arial";
    font-weight: bold;
    font-size: 18px;
    background-color: #ffffff;
    color: #16a085;
    text-decoration: none;
}
.Zag1 {
    background-color: #f5f6f7;
    color: #000000;
    padding-top: 40px;
    font-family: "Roboto", "arial";
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}
.text {
    background-color: #f5f6f7;
    color: #000000;
    padding: 25px 110px 70px 110px;
    font-family: "Roboto", "arial";
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
.btn {
    margin: 30px 420px 10px 420px;
    padding: 10px 10px 10px 10px;
    background-color: #16a085;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}
.footer {
    padding: 50px 110px 50px 110px;
    background-color: #ffffff;
    color: #000000;
    font-family: "Roboto", "arial";
    font-size: 16px;
    text-align: right;

}